In [1]:
import pandas as pd

In [9]:
df_review = pd.read_csv("../data/yelp_review_restaurant.csv", sep=';')

In [10]:
df_review.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,--042zgIbstRgNwP5sUX8w,rP52cGbn2tYgFml1rin8gQ,F73T-N5lRNL2Gcpg0Q4KKw,5,2017-07-27,The food here is fantastic and the service is ...,0,0,0
1,--0cG7333uMi-sr_3tWhGQ,0sDgdeKJPGr_2WioaXjBsQ,tqdL7aLotkmKIMHCczo3Ew,3,2017-10-21,Average B-dubs but better than most around NEO...,0,0,0
2,--0Ro9C6I9ZB7vmL4ZwDrg,ryZDoDERFu8pvKNrL0r2gQ,OETh78qcgDltvHULowwhJg,5,2017-07-22,My husband and I went here on our honeymoon to...,0,0,0
3,--0ujpOmgEbOXQ1M2hVdnw,jyfOcCWGvbhNwyKua7f4VQ,4JNXUYY8wbaaDmk3BPzlWw,5,2017-07-28,Most romantic spot in LV. Great for people wat...,0,0,0
4,--1gPZh1wTnh9FARO5Nw3Q,qDCMUmZktIft-UQwuuP6yQ,-PbCfkydmvuNcG9VG_ixkQ,1,2017-07-28,"Well, I am back.\nAnd it will definitely be my...",1,0,0

In [12]:
len(df_review)

580431

In [18]:
review_text = df_review.iloc[0, 5]
review_text

'The food here is fantastic and the service is exceptional. Certainly a 3.5 star "diamond in the rough!" I can\'t wait to dine here again!'

In [11]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [19]:
review_stmt = []
for idx in range(0, len(df_review)):
    review_text = df_review.iloc[idx, 5]
    results = analyzer.polarity_scores(review_text)
    compound = results["compound"]
    #pos = results["pos"]
    #neu = results["neu"]
    #neg = results["neg"]
    review_stmt.append(compound)

print(len(review_stmt), "\n", review_stmt[0:5])

580431
 [0.8395, 0.9239, 0.929, 0.9199, 0.9953]

In [20]:
review_id   = df_review["review_id"]
user_id     = df_review["user_id"]
business_id = df_review["business_id"]
stars       = df_review["stars"]
date        = df_review["date"]
useful      = df_review["useful"]
funny       = df_review["funny"]
cool        = df_review["cool"]

In [22]:
df_review_stmt = pd.DataFrame({
    "review_id"   : review_id,
    "user_id"     : user_id,
    "business_id" : business_id,
    "stars"       : stars,
    "date"        : date,
    "stmt_score"  : review_stmt,
    "useful"      : useful,
    "funny"       : funny,
    "cool"        : cool
})
print(len(df_review_stmt))
df_review_stmt[0:5]

580431

,review_id,user_id,business_id,stars,date,stmt_score,useful,funny,cool
0,--042zgIbstRgNwP5sUX8w,rP52cGbn2tYgFml1rin8gQ,F73T-N5lRNL2Gcpg0Q4KKw,5,2017-07-27,0.8395,0,0,0
1,--0cG7333uMi-sr_3tWhGQ,0sDgdeKJPGr_2WioaXjBsQ,tqdL7aLotkmKIMHCczo3Ew,3,2017-10-21,0.9239,0,0,0
2,--0Ro9C6I9ZB7vmL4ZwDrg,ryZDoDERFu8pvKNrL0r2gQ,OETh78qcgDltvHULowwhJg,5,2017-07-22,0.9290,0,0,0
3,--0ujpOmgEbOXQ1M2hVdnw,jyfOcCWGvbhNwyKua7f4VQ,4JNXUYY8wbaaDmk3BPzlWw,5,2017-07-28,0.9199,0,0,0
4,--1gPZh1wTnh9FARO5Nw3Q,qDCMUmZktIft-UQwuuP6yQ,-PbCfkydmvuNcG9VG_ixkQ,1,2017-07-28,0.9953,1,0,0

In [40]:
neg_review_id    = []
neg_review_score = []
for idx in range(len(review_stmt)):
    if review_stmt[idx] < 0:
        neg_review_id.append(df_review_stmt.iloc[idx, 0])
        neg_review_score.append(review_stmt[idx])

len(neg_review_idx)

77912

In [42]:
df_neg_review = pd.DataFrame({
    "review_id"  : neg_review_id,
    "stmt_score" : neg_review_score
})
df_neg_review.head()

                review_id  stmt_score
0  --5_7hjl4OED3UqSI1kvfA     -0.8014
1  --8CdmmBe1GLguB3LiHWYg     -0.1961
2  --9ajhYFr5d8MhHSHqBsmw     -0.9554
3  --aRZxW-Z6fEsqH9UYns9g     -0.9613
4  --DfCHuXVNnUAM2MqOEy_g     -0.3052

In [37]:
df_review_stmt.to_csv("../data/yelp_review_sentiments.csv")

In [44]:
df_review_stmt.to_csv("../data/yelp_review_sentiments_upload.csv", index=False, header=False)

In [43]:
df_neg_review.to_csv("../data/yelp_sentiments_negative.csv")