# Web Scrapping from Wikipedia on S&P 500 Companies List

In [1]:
import pandas as pd

In [72]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
tables = pd.read_html(url)
len(tables)

2

In [3]:
for i in range(len(tables)):
    df = tables[i]
    print(f"Table [{i}]#################################")
    print(df.head())

Table [0]#################################
        0                    1            2            3  \
0  Symbol             Security  SEC filings  GICS Sector
1     MMM           3M Company      reports  Industrials
2     ABT  Abbott Laboratories      reports  Health Care
3    ABBV          AbbVie Inc.      reports  Health Care
4    ABMD          ABIOMED Inc      reports  Health Care

                          4                        5                 6  \
0         GICS Sub Industry    Headquarters Location  Date first added
1  Industrial Conglomerates      St. Paul, Minnesota        1976-08-09
2     Health Care Equipment  North Chicago, Illinois        1964-03-31
3           Pharmaceuticals  North Chicago, Illinois        2012-12-31
4     Health Care Equipment   Danvers, Massachusetts        2018-05-31

            7            8
0         CIK      Founded
1  0000066740         1902
2  0000001800         1888
3  0001551152  2013 (1888)
4  0000815094         1981
Table [1]#################################
              0         1                             2         3  \
0          Date     Added                       Removed    Reason
1        Ticker  Security                        Ticker  Security
2  May 22, 2020       WST  West Pharmaceutical Services        HP
3  May 12, 2020       DPZ                Domino's Pizza      CPRI
4  May 12, 2020      DXCM                        Dexcom       AGN

                   4                                 5
0                NaN                               NaN
1                NaN                               NaN
2  Helmerich & Payne  Market capitalization change.[6]
3     Capri Holdings  Market capitalization change.[7]
4           Allergan   Allergan acquired by AbbVie.[7]

In [71]:
df500 = tables[0].iloc[1:]
df500.columns = ['Symbol', 'Security', 'SEC filings', 'GICS Sector',
                 'GICS Sub Industry', 'Headquarters Location', 'Date first added',
                 'CIK', 'Founded']
# df500.set_index('Symbol', inplace=True)
df500.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
1,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,0000066740,1902
2,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,0000001800,1888
3,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)
4,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,0000815094,1981
5,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989

In [6]:
len(df500)

505

In [7]:
datapath = "data/"
filename = "S&P500_list.csv"
df500.to_csv(datapath+filename)

In [30]:
df500["GICS Sector"].value_counts()

Industrials               72
Information Technology    71
Financials                66
Consumer Discretionary    63
Health Care               61
Consumer Staples          33
Real Estate               31
Materials                 28
Utilities                 28
Communication Services    26
Energy                    26
Name: GICS Sector, dtype: int64

### "Information Technology"

In [46]:
GICS = 'Information Technology'
df500_IT = df500.loc[df500["GICS Sector"]==GICS, :]
GSI = df500_IT["GICS Sub Industry"].value_counts()
GSI

Semiconductors                                13
Data Processing & Outsourced Services         12
Application Software                          11
Technology Hardware, Storage & Peripherals     7
IT Consulting & Other Services                 6
Communications Equipment                       5
Semiconductor Equipment                        3
Systems Software                               3
Internet Services & Infrastructure             3
Electronic Equipment & Instruments             3
Electronic Manufacturing Services              2
Electronic Components                          2
Technology Distributors                        1
Name: GICS Sub Industry, dtype: int64

In [56]:
i=-1

In [57]:
i+=1
df500_IT.loc[df500_IT["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
8,AMD,Advanced Micro Devices Inc,reports,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,0000002488,1969
41,ADI,"Analog Devices, Inc.",reports,Information Technology,Semiconductors,"Norwood, Massachusetts",1999-10-12,0000006281,1965
78,AVGO,Broadcom Inc.,reports,Information Technology,Semiconductors,"San Jose, California",2014-05-08,0001730168,1961
252,INTC,Intel Corp.,reports,Information Technology,Semiconductors,"Santa Clara, California",1976-12-31,0000050863,NaN
311,MXIM,Maxim Integrated Products Inc,reports,Information Technology,Semiconductors,"San Jose, California",2018-12-03,0000743316,1983
319,MCHP,Microchip Technology,reports,Information Technology,Semiconductors,"Chandler, Arizona",2007-09-07,0000827054,NaN
320,MU,Micron Technology,reports,Information Technology,Semiconductors,"Boise, Idaho",1994-09-27,0000723125,NaN
354,NVDA,Nvidia Corporation,reports,Information Technology,Semiconductors,"Santa Clara, California",2001-11-30,0001045810,NaN
391,QRVO,Qorvo,reports,Information Technology,Semiconductors,"Greensboro, North Carolina",2015-06-11,0001604778,2015
393,QCOM,QUALCOMM Inc.,reports,Information Technology,Semiconductors,"San Diego, California",NaN,0000804328,1985
420,SWKS,Skyworks Solutions,reports,Information Technology,Semiconductors,"Woburn, Massachusetts",2015-03-12,0000004127,NaN
442,TXN,Texas Instruments,reports,Information Technology,Semiconductors,"Dallas, Texas",NaN,0000097476,1930
499,XLNX,Xilinx,reports,Information Technology,Semiconductors,"San Jose, California",1999-11-08,0000743988,NaN

In [58]:
i+=1
df500_IT.loc[df500_IT["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
21,ADS,Alliance Data Systems,reports,Information Technology,Data Processing & Outsourced Services,"Plano, Texas",2013-12-23,0001101215,1996
79,BR,Broadridge Financial Solutions,reports,Information Technology,Data Processing & Outsourced Services,"Lake Success, New York",2018-06-18,0001383312,1962
191,FIS,Fidelity National Information Services,reports,Information Technology,Data Processing & Outsourced Services,"Jacksonville, Florida",2006-11-10,0001136893,NaN
195,FISV,Fiserv Inc,reports,Information Technology,Data Processing & Outsourced Services,"Brookfield, Wisconsin",2001-04-02,0000798354,NaN
196,FLT,FleetCor Technologies Inc,reports,Information Technology,Data Processing & Outsourced Services,"Norcross, Georgia",2018-06-20,0001175454,2000
218,GPN,Global Payments Inc.,reports,Information Technology,Data Processing & Outsourced Services,"Atlanta, Georgia",2016-04-25,0001123360,NaN
264,JKHY,Jack Henry & Associates,reports,Information Technology,Data Processing & Outsourced Services,"Monett, Missouri",2018-11-13,0000779152,1976
309,MA,Mastercard Inc.,reports,Information Technology,Data Processing & Outsourced Services,"Harrison, New York",2008-07-18,0001141391,NaN
366,PAYX,Paychex Inc.,reports,Information Technology,Data Processing & Outsourced Services,"Penfield, New York",NaN,0000723531,1971
368,PYPL,PayPal,reports,Information Technology,Data Processing & Outsourced Services,"San Jose, California",2015-07-20,0001633917,1998
475,V,Visa Inc.,reports,Information Technology,Data Processing & Outsourced Services,"San Francisco, California",2009-12-21,0001403161,NaN
490,WU,Western Union Co,reports,Information Technology,Data Processing & Outsourced Services,"Englewood, Colorado",NaN,0001365135,1851

In [59]:
i+=1
df500_IT.loc[df500_IT["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
7,ADBE,Adobe Inc.,reports,Information Technology,Application Software,"San Jose, California",1997-05-05,0000796343,1982
42,ANSS,ANSYS,reports,Information Technology,Application Software,"Canonsburg, Pennsylvania",2017-06-19,0001013462,1969
57,ADSK,Autodesk Inc.,reports,Information Technology,Application Software,"San Rafael, California",1989-12-01,0000769397,NaN
83,CDNS,Cadence Design Systems,reports,Information Technology,Application Software,"San Jose, California",2017-09-18,0000813672,NaN
112,CTXS,Citrix Systems,reports,Information Technology,Application Software,"Fort Lauderdale, Florida",1999-12-01,0000877890,NaN
258,INTU,Intuit Inc.,reports,Information Technology,Application Software,"Mountain View, California",2000-12-05,0000896878,NaN
350,NLOK,NortonLifeLock,reports,Information Technology,Application Software,"Tempe, Arizona",2003-03-25,0000849399,NaN
361,ORCL,Oracle Corp.,reports,Information Technology,Application Software,"Redwood Shores, California",1989-08-31,0001341439,NaN
367,PAYC,Paycom,reports,Information Technology,Application Software,"Oklahoma City, Oklahoma",2020-01-28,0001590955,1998
411,CRM,Salesforce.com,reports,Information Technology,Application Software,"San Francisco, California",2008-09-15,0001108524,NaN
432,SNPS,Synopsys Inc.,reports,Information Technology,Application Software,"Mountain View, California",2017-03-16,0000883241,NaN

In [60]:
i+=1
df500_IT.loc[df500_IT["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
48,AAPL,Apple Inc.,reports,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1982-11-30,0000320193,1977
232,HPE,Hewlett Packard Enterprise,reports,Information Technology,"Technology Hardware, Storage & Peripherals","Palo Alto, California",2015-11-02,0001645590,2015
241,HPQ,HP Inc.,reports,Information Technology,"Technology Hardware, Storage & Peripherals","Palo Alto, California",1974-12-31,0000047217,1939 (2015)
335,NTAP,NetApp,reports,Information Technology,"Technology Hardware, Storage & Peripherals","Sunnyvale, California",1999-06-25,0001002047,NaN
414,STX,Seagate Technology,reports,Information Technology,"Technology Hardware, Storage & Peripherals","Dublin, Ireland",2012-07-02,0001137789,NaN
489,WDC,Western Digital,reports,Information Technology,"Technology Hardware, Storage & Peripherals","Irvine, California",2009-07-01,0000106040,NaN
498,XRX,Xerox,reports,Information Technology,"Technology Hardware, Storage & Peripherals","Norwalk, Connecticut",NaN,0000108772,1906

In [61]:
i+=1
df500_IT.loc[df500_IT["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
5,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989
117,CTSH,Cognizant Technology Solutions,reports,Information Technology,IT Consulting & Other Services,"Teaneck, New Jersey",2006-11-17,0001058290,NaN
161,DXC,DXC Technology,reports,Information Technology,IT Consulting & Other Services,"Tysons Corner, Virginia",2017-04-04,0001688568,2017
210,IT,Gartner Inc,reports,Information Technology,IT Consulting & Other Services,"Stamford, Connecticut",2017-04-05,0000749251,NaN
254,IBM,International Business Machines,reports,Information Technology,IT Consulting & Other Services,"Armonk, New York",NaN,0000051143,1911
290,LDOS,Leidos Holdings,reports,Information Technology,IT Consulting & Other Services,"Reston, Virginia",2019-08-09,0001336920,1969

In [62]:
i+=1
df500_IT.loc[df500_IT["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
52,ANET,Arista Networks,reports,Information Technology,Communications Equipment,"Santa Clara, California",2018-08-28,0001596532,2004
109,CSCO,Cisco Systems,reports,Information Technology,Communications Equipment,"San Jose, California",1993-12-01,0000858877,NaN
186,FFIV,F5 Networks,reports,Information Technology,Communications Equipment,"Seattle, Washington",2010-12-20,0001048695,1996
271,JNPR,Juniper Networks,reports,Information Technology,Communications Equipment,"Sunnyvale, California",2006-06-02,0001043604,1996
330,MSI,Motorola Solutions Inc.,reports,Information Technology,Communications Equipment,"Chicago, Illinois",NaN,0000068505,1928 (2011)

In [63]:
i+=1
df500_IT.loc[df500_IT["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
49,AMAT,Applied Materials Inc.,reports,Information Technology,Semiconductor Equipment,"Santa Clara, California",1995-03-16,0000006951,1967
279,KLAC,KLA Corporation,reports,Information Technology,Semiconductor Equipment,"Milpitas, California",NaN,0000319201,1975/1977 (1997)
286,LRCX,Lam Research,reports,Information Technology,Semiconductor Equipment,"Fremont, California",2012-06-29,0000707549,NaN

In [64]:
i+=1
df500_IT.loc[df500_IT["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
201,FTNT,Fortinet,reports,Information Technology,Systems Software,"Sunnyvale, California",2018-10-11,0001262039,2000
321,MSFT,Microsoft Corp.,reports,Information Technology,Systems Software,"Redmond, Washington",1994-06-01,0000789019,1975
417,NOW,ServiceNow,reports,Information Technology,Systems Software,"Santa Clara, California",2019-11-21,0001373715,2003

In [65]:
i+=1
df500_IT.loc[df500_IT["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
14,AKAM,Akamai Technologies Inc,reports,Information Technology,Internet Services & Infrastructure,"Cambridge, Massachusetts",2007-07-12,0001086222,1998
58,ADP,Automatic Data Processing,reports,Information Technology,Internet Services & Infrastructure,"Roseland, New Jersey",1981-03-31,0000008670,NaN
470,VRSN,Verisign Inc.,reports,Information Technology,Internet Services & Infrastructure,"Dulles, Virginia",2006-02-01,0001014473,NaN

### "Communication Services"

In [98]:
GICS = 'Communication Services'
df500_CS = df500.loc[df500["GICS Sector"]==GICS, :]
GSI = df500_CS["GICS Sub Industry"].value_counts()
GSI

Movies & Entertainment                   6
Interactive Media & Services             4
Cable & Satellite                        3
Interactive Home Entertainment           3
Integrated Telecommunication Services    2
Advertising                              2
Broadcasting                             2
Publishing                               2
Alternative Carriers                     1
Wireless Telecommunication Services      1
Name: GICS Sub Industry, dtype: int64

In [99]:
i=-1

In [100]:
i+=1
df500_CS.loc[df500_CS["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
204,FOXA,Fox Corporation (Class A),reports,Communication Services,Movies & Entertainment,"New York, New York",2013-07-01,0001308161,NaN
205,FOX,Fox Corporation (Class B),reports,Communication Services,Movies & Entertainment,"New York, New York",2015-09-18,0001308161,NaN
295,LYV,Live Nation Entertainment,reports,Communication Services,Movies & Entertainment,"Beverly Hills, California",2019-12-23,0001335258,2010
336,NFLX,Netflix Inc.,reports,Communication Services,Movies & Entertainment,"Los Gatos, California",2010-12-20,0001065280,1997
474,VIAC,ViacomCBS,reports,Communication Services,Movies & Entertainment,"New York, New York",NaN,0001339947,NaN
482,DIS,The Walt Disney Company,reports,Communication Services,Movies & Entertainment,"Burbank, California",1976-06-30,0001001039,NaN

In [79]:
i+=1
df500_CS.loc[df500_CS["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
24,GOOGL,Alphabet Inc. (Class A),reports,Communication Services,Interactive Media & Services,"Mountain View, California",2014-04-03,0001652044,1998
25,GOOG,Alphabet Inc. (Class C),reports,Communication Services,Interactive Media & Services,"Mountain View, California",2006-04-03,0001652044,1998
187,FB,"Facebook, Inc.",reports,Communication Services,Interactive Media & Services,"Menlo Park, California",2013-12-23,0001326801,NaN
452,TWTR,"Twitter, Inc.",reports,Communication Services,Interactive Media & Services,"San Francisco, California",2018-06-07,0001418091,NaN

In [80]:
i+=1
df500_CS.loc[df500_CS["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
101,CHTR,Charter Communications,reports,Communication Services,Cable & Satellite,"Stamford, Connecticut",2016-09-08,0001091667,NaN
119,CMCSA,Comcast Corp.,reports,Communication Services,Cable & Satellite,"Philadelphia, Pennsylvania",2015-09-18,0001166691,NaN
150,DISH,Dish Network,reports,Communication Services,Cable & Satellite,"Meridian, Colorado",2017-03-13,0001001082,NaN

In [81]:
i+=1
df500_CS.loc[df500_CS["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
6,ATVI,Activision Blizzard,reports,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,0000718877,2008
169,EA,Electronic Arts,reports,Communication Services,Interactive Home Entertainment,"Redwood City, California",2002-07-22,0000712515,NaN
436,TTWO,Take-Two Interactive,reports,Communication Services,Interactive Home Entertainment,"New York, New York",2018-03-19,0000946581,NaN

In [82]:
i+=1
df500_CS.loc[df500_CS["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
55,T,AT&T Inc.,reports,Communication Services,Integrated Telecommunication Services,"Dallas, Texas",1983-11-30 (1957-03-04),0000732717,1983 (1885)
472,VZ,Verizon Communications,reports,Communication Services,Integrated Telecommunication Services,"New York, New York",1983-11-30,0000732712,NaN

In [83]:
i+=1
df500_CS.loc[df500_CS["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
256,IPG,Interpublic Group,reports,Communication Services,Advertising,"New York, New York",1992-10-01,0000051644,NaN
359,OMC,Omnicom Group,reports,Communication Services,Advertising,"New York, New York",NaN,0000029989,1986

In [84]:
i+=1
df500_CS.loc[df500_CS["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
148,DISCA,"Discovery, Inc. (Class A)",reports,Communication Services,Broadcasting,"Silver Spring, Maryland",2010-03-01,0001437107,NaN
149,DISCK,"Discovery, Inc. (Class C)",reports,Communication Services,Broadcasting,"Silver Spring, Maryland",2014-08-07,0001437107,NaN

In [85]:
i+=1
df500_CS.loc[df500_CS["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
339,NWSA,News Corp. Class A,reports,Communication Services,Publishing,"New York, New York",2013-08-01,0001564708,NaN
340,NWS,News Corp. Class B,reports,Communication Services,Publishing,"New York, New York",2015-09-18,0001564708,NaN

In [86]:
i+=1
df500_CS.loc[df500_CS["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
97,CTL,CenturyLink Inc,reports,Communication Services,Alternative Carriers,"Monroe, Louisiana",1999-03-25,0000018926,NaN

In [87]:
i+=1
df500_CS.loc[df500_CS["GICS Sub Industry"]==GSI.index[i], :]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
434,TMUS,T-Mobile US,reports,Communication Services,Wireless Telecommunication Services,"Bellevue, Washington",2019-07-15,0001283699,1994

## Company List

In [102]:
# df500_CS.set_index("Symbol", inplace=True)
df500_CS.head()

,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
Symbol,,,,,,,,
ATVI,Activision Blizzard,reports,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,0000718877,2008
GOOGL,Alphabet Inc. (Class A),reports,Communication Services,Interactive Media & Services,"Mountain View, California",2014-04-03,0001652044,1998
GOOG,Alphabet Inc. (Class C),reports,Communication Services,Interactive Media & Services,"Mountain View, California",2006-04-03,0001652044,1998
T,AT&T Inc.,reports,Communication Services,Integrated Telecommunication Services,"Dallas, Texas",1983-11-30 (1957-03-04),0000732717,1983 (1885)
CTL,CenturyLink Inc,reports,Communication Services,Alternative Carriers,"Monroe, Louisiana",1999-03-25,0000018926,NaN

In [105]:
CL = ['NWSA', 'DIS', 'NFLX', 'GOOGL', 'FB', 'T']
df500_CS.loc[CL]

,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
Symbol,,,,,,,,
NWSA,News Corp. Class A,reports,Communication Services,Publishing,"New York, New York",2013-08-01,0001564708,NaN
DIS,The Walt Disney Company,reports,Communication Services,Movies & Entertainment,"Burbank, California",1976-06-30,0001001039,NaN
NFLX,Netflix Inc.,reports,Communication Services,Movies & Entertainment,"Los Gatos, California",2010-12-20,0001065280,1997
GOOGL,Alphabet Inc. (Class A),reports,Communication Services,Interactive Media & Services,"Mountain View, California",2014-04-03,0001652044,1998
FB,"Facebook, Inc.",reports,Communication Services,Interactive Media & Services,"Menlo Park, California",2013-12-23,0001326801,NaN
T,AT&T Inc.,reports,Communication Services,Integrated Telecommunication Services,"Dallas, Texas",1983-11-30 (1957-03-04),0000732717,1983 (1885)